/* src/app/globals.css */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: whitesmoke;
}

a {
  color: inherit;
  text-decoration: none;
}

/* You can keep your custom font variables for non-MUI components */
.font-geist-sans {
  font-family: var(--font-geist-sans);
}

.font-geist-mono {
  font-family: var(--font-geist-mono);
}